/* Notes: */
/* Blue and Purple CSS by SpawnLocation */
/* Made in August, was abandoned then repurposed in November */
/* Twitter: SpawnLocation */
/* IGN: SpawnLocation */

/* Copy paste this in your css file to use it: @import url(https://spawnlocation.github.io/krunker/bp.css); */


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;}
::-webkit-scrollbar {
    display: none!important; }
/*main stuf*/
#rankedSoonTm {
    display: none!important; }
#aHolder {
    display: none !important; }
.endAHolder {
    display: none !important; }
#uiBase.onMenu #voiceDisplay {
    display: none; }
#mainLogo {
    display: none; }
#seasonLabel {
    display: none; }
#braveWarning {
    display: none!important; }
a {
    color: white }
span.material-icons-outlined {
    color: white!important; }
#faceItIconM {
    display: none; }
@keyframes swag {
    from { filter: saturate(1) hue-rotate( 220deg); }
    50% {
        filter: saturate(1) hue-rotate( 300deg); } }
.bigShadowT {
    text-shadow: none!important; }
/* button*/
.button {
    border: 4px solid #DEE7E7!important;
    background-color: #535657!important;
    color: #B7ADCF; }
.button.small {
    margin-left: -4px;
    margin-right: -4px; }
.button.small:hover {
    transform: none; }
#subLogoButtons {
    position: absolute;
    bottom: 80%;
    left: 50%; }
#subLogoButtons:after {
    display: block;
    content: 'Made by SpawnLocation | Twitter: SpawnLocation';
    text-align: center;
    font-size: 20px;
    color: white;}
span.material-icons-outlined.menBtnIcn {
    color: #81a1b3!important; }
div#menuBtnHost {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; }
div#menuBtnJoin {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; }
#customizeButton {
    font-size: 0px!important;
    width: fit-content; }
div#customizeButton:after {
    font-size: 50px!important;
    font-family: 'Material Icons';
    content: "accessibility"; }
#customizeButton span.material-icons {
    display: none; }
#signedOutHeaderBar {
    bottom: 0;
    top: unset; }
/*menu stuf*/
#menuItemContainer {
    position: fixed;
    width: 500px;
    height: 100px;
    transform: translate(-50%, -80%);
    left: 50%;
    top: 85%;
    flex-direction: row;
    border: 4px solid #F4FAFF!important;
    background-color: rgba(83, 86, 87, .5);
    border-radius: 30px;
    transition: .1s all!important; }
.menuItem .menuItemTitle {
    display: none; }
#clientExit {
    display: flex; }
.iconExit {
    background-image: none; }
.menuItem:hover .iconExit {
    background-image: none!important;
    transform: scale(1.3);
    color: white!important;
    transition: .1s all; }
.menuItem:hover .iconExit:after {
    background-image: none!important;
    color: white!important;
    transition: .1s all!important; }
.iconExit:after {
    font-family: "Material-Icons";
    content: "logout";
    font-size: 60px;
    color: #81a1b3;
    transition: .1s all; }
.menuItem .menuItemIcon {
    position: relative;
    width: 100%;
    height: 60%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }

#classPreviewCanvas {
    margin-bottom: 0px;
    animation: sidetoside 2s ease-in-out infinite; }
@keyframes sidetoside {
    from { transform: skewX(10deg); }
    50% {
        transform: skewX(-10deg); }
    to {
        transform: skewX(10deg); } }
/* misc*/
#uiBase.onMenu #chatHolder {
    top: 75%;
    bottom: unset;
    left: 0%;
    border: 4px solid #81a1b3!important;
}
#uiBase.onEndScrn #chatHolder {
    top: 75%;
    bottom: unset;
    left: 0%;
    border: 4px solid #81a1b3!important;
}
#streamContainer {
    display: none; }
.youNewDiv {
    display: none; }
div#updateAd {
    display: none!important; }
#chatHolder {
    position: absolute;
    z-index: 1;
    width: 340px;
    left: 20px;
    height: fit-content; }
#mapInfo {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
    display: none; }
.verticalSeparatorInline {
    display: none; }
#mapInfoHolder {
    bottom: unset;
    top: 0; }
#termsInfo {
    display: flex;
    border: 4px solid #81a1b3!important;
    height: fit-content;
    border-radius: 0;
    flex-direction: column-reverse;
    text-align: center;
    transition: 0.3s; }
#termsInfo:hover .terms {
    font-size: 18px!important;
    transition: 0.3s; }
.terms {
    font-size: 0px!important;
    transition: 0.3s;
    color: #dee7e7; }
.terms:last-child {
    display: block !important;
    font-size: 18px!important; }
#newsHolder {
    bottom: 0;
    top: unset;
    right: 0; }
.headerBarLeft {
    top: unset;
    bottom: 0; }
.headerBarRight {
    display: none; }
/* menu popups*/
#menuWindow {
    background-color: #353535;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: 2px 2px 8px rgb(0 0 0 / 50%);
    width: 1300px!important; }
.hostOpt {
    background-color: #535657!important; }

input:checked + .optCheck {
    background-color: #81a1b3; }

.slider {
    border-radius: 0px; }
.slider:before {
    border-radius: 0px; }
input:checked + .slider {
    background-color: #81a1b3; }
.sliderVal {
    border-radius: 0px;
    border-color: #b7adcf!important; }
.sliderM {
    background-color: #535657; }
.hostToggle {
    background-color: #b7adcf!important; }
.hostPresetBtn {
    background-color: #b7adcf!important; }
input[type=color] {
    border-color: #b7adcf!important; }
.settingsBtn {
    background-color: #b7adcf!important; }
i.material-icons {
    color: white!important; }
.loadoutBtn {
    background-color: #b7adcf!important; }
.quickJoin {
    border-color: #b7adcf!important; }
input:checked + .slider2 {
    background-color: #b7adcf!important;
    border-radius: 0px; }
.slider2:before {
    border-radius: 0px; }
div#hostMenuBtn span.material-icons {
    background-color: #b7adcf!important; }
span.material-icons.plusOrMinus {
    background: transparent!important; ; }
/* customize*/
.selectorLabel {
    display: none; }

/* login */
.button.buttonO.lgn {
    width: fit-content!important;
    font-size: 0px!important; }

.button.buttonO.lgn span.material-icons {
    font-size: 0px!important; }
.button.buttonO.lgn span.material-icons:after {
    font-size: 50px!important;
    content: "login";
    color: #B7ADCF; }
/* customize display */
#menuClassName {
    display: none!important; }
#menuClassSubtext {
    display: none!important; }
#menuClassNameTag {
    display: none!important; }
.classCard {
    background: radial-gradient( #dee7e7 -500px, transparent); }
.classImgC {
    filter: grayscale(1);
    transition: 0.1s;
    width: 180px!important; }
.classCard:hover .classImgC {
    filter: grayscale(0);
    filter: drop-shadow(0 0 0.85rem #81a1b3);
    width: 160px!important;
    transform: translateX(20deg) }
.classWeap {
    color: transparent!important; }
.classHP {
    filter: opacity(0);
    transition: 0.1s;
    top: 85%; }
.classLvl {
    filter: opacity(0);
    transition: 0.1s;
    top: 85%; }
.classCard:hover .classLvl {
    transition: 0.1s;
    filter: opacity(1); }
.classCard:hover .classHP {
    transition: 0.1s;
    filter: opacity(1); }
.classXPBar {
    position: absolute;
    top: 98%;
    left: 0px;
    width: 100%;
    height: 7px;
    border-radius: 0px;
    background-color: #535657; }
.clsXPBarC {
    margin: 0px;
    background-color: #81a1b3; }
#selectorContainer {
    background-color: transparent; }
.selectorItem {
    height: 130px;
    width: 130px;
    border: 0px solid rgba(0, 0, 0, .63);
    filter: grayscale(1); }
.selectedItem {
    border-color: #dee7e7!important;
    border-radius: 0px;
    filter: grayscale(0); }
/* Menu Timer */
#uiBase.onMenu #spectateUI {
    display: block!important;
    position: fixed;
    bottom: unset;
    top: -20px;
    left: 0;
    right: unset;
    transform: translate(0%, 50%);
    z-index: 1;
    width: 10px;
    height: 10px;
    margin-left: 65px;
    margin-top: 20px;
}
#uiBase.onMenu #spectateHUD {
    display: flex;
    justify-content: center;
    transform: unset;
    left: unset; }
#uiBase.onMenu #specTeam0, #uiBase.onMenu #spec0, #uiBase.onMenu #spec1, #uiBase.onMenu #specNames, #uiBase.onMenu #specStats, #uiBase.onMenu #specContr, #uiBase.onMenu #specKPDContr, #uiBase.onMenu #specSus, #uiBase.onMenu #specTeam1, #uiBase.onMenu #specGMessage, #uiBase.onMenu #specGameInfo {
    display: none!important }
#uiBase.onMenu #specTimer {
    display: block!important;
    font-size: 35px;
    background-color: transparent;
    padding: 10px;
    color: #b7adcf; }
/* Ingame */
#hudClassIcon {
    display: none!important; }
#timerIcon {
    display: none!important; }
#ammoIcon {
    display: none!important; }
