@font-face {
  font-family: akira;
  src: url(https://spawnlocation.github.io/krunker/akira.ttf);
}
body {
  background: #637794!important; 
} 
* { 
  color: white!important; 
  font-family: akira; 
  font-size: 60px;
  transition: 1s!important; 
  text-align: center!important;
  letter-spacing: 3px!important;
  cursor: url(https://spawnlocation.github.io/krunker/cursor.png), auto!important;
}
::-webkit-scrollbar {
  display: none!important; 
}
@keyframes rainbow {
  from {
    filter: hue-rotate(1deg);
  }

  to {
    filter: hue-rotate(359deg);
  }
}

a:hover {
  color: lightgrey!important;
}
