@font-face {
  font-family: 'swag';
  src: url(https://spawnlocation.github.io/krunker/Bjork.ttf);
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

body {
  background: black!important; 
} 
* { 
  color: white!important; 
  font-family: 'swag';
  font-size: 60px;
}
::-webkit-scrollbar {
  display: none!important; 
}
@keyframes rainbow {
  from {
    filter: hue-rotate(1deg);
  }

  to {
    filter: hue-rotate(359deg);
  }
}
a:hover {
  color: red!important;
  animation: 4s rainbow infinite; 
}
