@import url(https://spawnlocation.github.io/krunker/Bjork.ttf);
body {
  background: black!important; 
} 
* { 
  color: white!important; 
  font-family: "Bjork";
}
::-webkit-scrollbar {
  display: none!important; 
}
