/* 
To the person reading this and is still confused, here is a breakdown of the css. 
The css must be applied using the @import url in the social_custom.css file, the url is provided at the bottom. 
This css colors in clan tags, for example: verb has a bright purple clan tag and 24/7 has a cyan clan tag. 
At some point in time all well known clans will have the color filled in with a color that is representative of their color scheme. 
Use the following @import url below. 
*/ 

@import url(https://spawnlocation.github.io/home/socialtagcolor.css);

/* Don't touch any of this unless you know what you're doing */
#aHolder, #hubBox {
    display: none!important;
} 

.rnkIcon {
    float: left;
}

* [href="/social.html?p=clan&q=ui"] {
    background-image: url(https://spawnlocation.github.io/home/vroooom.gif);
    filter: hue-rotate(130deg);
    background-size: 400% 100%;
    color: transparent!important;
    -webkit-background-clip: text;
}

* [href="/social.html?p=clan&q=Verb"] {
    color: magenta!important;
}

* [href="/social.html?p=clan&q=24/7"] {
    color: #0ff!important;
}

* [href="/social.html?p=clan&q=Gore"] {
    color: #f00!important;
}

* [href="/social.html?p=clan&q=TIMP"] {
    color: #9f0000!important;
}

* [href="/social.html?p=clan&q=Flaw"] {
    color: #919191!important;
}

* [href="/social.html?p=clan&q=c4"] {
    color: #fff700!important;
}

* [href="/social.html?p=clan&q=T1"] {
    background: linear-gradient(90deg, #001164, white);
    color: transparent!important;
    -webkit-background-clip: text;
}

* [href="/social.html?p=clan&q=4.am"] {
    color: #ab91ff!important;
}

* [href="/social.html?p=clan&q=GOTH"] {
    color: black!important;
}

* [href="/social.html?p=clan&q=vm"] {
    color: #FFD6E0!important;
} 

* [href="/social.html?p=clan&q=7"] {
    color: #FAC8CD!important;
}

* [href="/social.html?p=clan&q=Arae"] {
    color: #2F4858!important;
}

@keyframes magic {
    0% { background-image: linear-gradient(to right, #9EBC9E, #5C5D8D, #FF5376, #553E4E, #E0479E);}
    20% { background-image: linear-gradient(to right, #5C5D8D, #FF5376, #553E4E, #E0479E, #9EBC9E);}
    40% { background-image: linear-gradient(to right, #FF5376, #553E4E, #E0479E, #9EBC9E, #FFCFD2);}
    60% { background-image: linear-gradient(to right, #553E4E, #E0479E, #9EBC9E, #5C5D8D, #5C5D8D);}
    80% { background-image: linear-gradient(to right, #E0479E, #9EBC9E, #5C5D8D, #FF5376, #553E4E);}
    100% { background-image: linear-gradient(to right, #9EBC9E, #5C5D8D, #FF5376, #553E4E, #E0479E);}
}
* [href="/social.html?p=clan&q=魔人"] {
    animation: magic 1.5s linear infinite;
    background-size: 400% 100%;
    color: transparent!important;
    -webkit-background-clip: text;
}






/* PLACEHOLDER FORMAT TO ADD COLORED TAGS
* [href="/social.html?p=clan&q=PLACEHOLDER"] {
    color: grey!important;

*/
