/* GETS RID OF GARBAGE LMAOOOO */
#braveWarning {
    display: none!important; }
#aMerger,
#aHolder {
    display: none!important; }
#endAMerger,
#endAContainer {
    display: none!important; }
#loadHeader {
    display: none; }
#braveWarning {
    display: none!important; }
#tlInfHold {
    display: none!important; }
#newsHolder {
    display: none!important; }
.verticalSeparatorInline {
    display: none!important; }
::-webkit-scrollbar {
    display: none!important; }
#faceItIconM {
    display: none; }
#rankedSoonTm {
    display: none!important; }
